@rendermode InteractiveServer

@using System.Net.Http.Headers
@using System.Text.Json
@using BlazorBootstrap
@using Grpc.Net.Client
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ProtectedLocalStorage ProtectedLocalStore
@inject IHttpClientFactory ClientFactory
@inject ILogger<Uploader> Logger
@inject NavigationManager NavigationManager
@inject IGrpcClientProvider ClientProvider

<div class="container">
    <p>
        <label>
            Du kannst bis zu @MaxAllowedFiles Memes gleichzeitig hochladen:
            <InputFile OnChange="OnInputFileChange" multiple accept=".jpg,.jpeg,.gif,.png" />
        </label>
    </p>


    @foreach (var uploadResult in uploadResults)
    {
        <div class="row row-cols-auto gy-1">
            <div class="col-md-5 col-sm-12">
                <p>@uploadResult.Name</p>
            </div>
            <div class="col-md-7 col-sm-12 p-1">
                <img src="@uploadResult.Content" class="rounded img-fluid" style="max-height: 150px;"/>
            </div>
        </div>
    }
</div>

@code {

    [Parameter] public string SessionId { get; set; } = "";

    [Parameter] public int MaxAllowedFiles { get; set; } = 10;

    [Parameter] public int MaxFileSize { get; set; } = 1 * 1024 * 1024;

    private List<UploadedImage> uploadResults = new();

    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Logger.LogInformation("{}", SessionId);
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        shouldRender = false;
        var upload = false;

        List<File> files = new();
        using var content = new MultipartFormDataContent();

        var imageService = ClientProvider.GetClient<MemeOfTheYear.ImageService.ImageServiceClient>();

        foreach (var file in e.GetMultipleFiles(MaxAllowedFiles))
        {
            try
            {
                Logger.LogInformation($"Append File {file.Name} with {file.ContentType}");

                files.Add(new() { Name = file.Name });

                var stream = new LazyBrowserFileStream(file, MaxFileSize);
                var fileContent = new StreamContent(stream);
                fileContent.Headers.ContentType = new MediaTypeHeaderValue(file.ContentType);
                content.Add(content: fileContent, name: "\"files\"", fileName: file.Name);

                upload = true;
            }
            catch (Exception ex)
            {
                Logger.LogWarning("{0} not uploaded (Err: 6): {1}", file.Name, ex.Message);
            }
        }

        if (upload)
        {
            using var client = ClientFactory.CreateClient();
            client.DefaultRequestHeaders.Add("session", SessionId);
            using var response = await client.PostAsync($"{NavigationManager.BaseUri}Filesave", content);
            Logger.LogInformation("Is success {}", response.IsSuccessStatusCode);

            if (response.IsSuccessStatusCode)
            {
                var options = new JsonSerializerOptions
                    {
                        PropertyNameCaseInsensitive = true,
                    };

                using var responseStream = await response.Content.ReadAsStreamAsync();
                var newUploadResults = await JsonSerializer.DeserializeAsync<IList<UploadResult>>(responseStream, options);
                Logger.LogInformation("{}", newUploadResults);

                if (newUploadResults is not null)
                {
                    uploadResults.Clear();

                    foreach (var result in newUploadResults)
                    {
                        var imageResponse = await imageService.GetImageAsync(new MemeOfTheYear.GetImageRequest
                            {
                                ImageId = result.ImageId,
                                SessionId = this.SessionId
                            });
                        uploadResults.Add(new UploadedImage
                            {
                                Name = result.ImageId,
                                Content = imageResponse.ImageContent
                            });
                    }
                }
            }
        }

        shouldRender = true;
    }

    private class File
    {
        public string? Name { get; set; }
    }

    private class UploadedImage
    {
        public string Name { get; set; } = "";
        public string Content { get; set; } = "";
    }
}